.profile-container {
    width: 80%;
    max-width: 500px;
    margin: 2em auto;
    padding: 2em;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-info, #edit-profile, #edit-password {
    width: 100%;
    margin-bottom: 2em;
    display: none;
    flex-direction: column;
    align-items: center;
}

.profile-info p, #edit-profile form p, #edit-password form p {
    text-align: left;
    width: 100%;
    margin-bottom: 0.5em;
    font-size: 1em;
    line-height: 1.5;
}

button {
    padding: 0.6em 1em;
    background-color: #005C5C;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1em;
    margin-top: 1em;
}

button:hover {
    background-color: #679F4D;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #DADADA;
    border-radius: 4px;
    margin-bottom: 1em;
    font-size: 1em;
}

.error {
    color: #D9534F;
    font-size: 0.9em;
    margin-top: 0.5em;
}