include navbar.pug
doctype html
html(lang="en")
    head
        title Create Post
        link(rel="stylesheet" href="/css/main.css")
        link(rel="stylesheet" href="/css/main-dark.css")
        script(src="/js/theme.js")
    body
        +navbar(userId)
        h1 Create New Post
        .post-form-container
            form.post-form(method="post" action="/api/create-post")
                textarea(name="content", required, maxlength="4000")
                button(type="submit") Post
