include navbar.pug
doctype html
html(lang="en")
    head
        title Edit Post
        link(rel="stylesheet" href="/css/main.css")
        link(rel="stylesheet" href="/css/main-dark.css")
        script(src="/js/theme.js")
    body
        +navbar(userId)
        h1 Edit Post
        .post-form-container
            form.post-form(method="post", action=`/api/edit-post/${post.id}`)
                textarea(name="content", required, maxlength="4000")= post.content
                button(type="submit") Update
