mixin navbar(userId)
    nav.navbar
        if userId
            a(href="/") Main Page
            .navbar-links
                a(href="/my-profile") My Profile
                a(href="/my-posts") My Posts
                a(href="/api/logout") Log Out
        else
            a(href="/") Main Page
            .navbar-links
                a(href="/register") Register
                a(href="/login") Log In
