mixin navbar(userId)
    nav.navbar
        .navbar-left
            button#theme-toggle
            a(href="/") Main Page
        .navbar-links
            if userId
                a(href="/my-profile") My Profile
                a(href="/my-posts") My Posts
                a(href="/api/logout") Log Out
            else
                a(href="/register") Register
                a(href="/login") Log In
