include navbar.pug
doctype html
html(lang="en")
    head
        title Post
        script(src="/js/post.js")
    body
        +navbar(userId)
        h1= post.content
        if userId === post.user_id
            form(action=`/edit-post/${post.id}`, method="get")
                button(type="submit") Edit
            button(onclick=`deletePost('${post.id}')`) Delete
